<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172736066305-13nie71rgm2jlgsk0rjvgj5e8vfsch8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172736066305-13nie71rgm2jlgsk0rjvgj5e8vfsch8l</string>
	<key>API_KEY</key>
	<string>AIzaSyBPiVRls4Vr0XHeqtKOWG2Aqrm_HQL2_7E</string>
	<key>GCM_SENDER_ID</key>
	<string>172736066305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talkspace</string>
	<key>PROJECT_ID</key>
	<string>comfort-connect-9f74d</string>
	<key>STORAGE_BUCKET</key>
	<string>comfort-connect-9f74d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172736066305:ios:5abb43143b6278e54f6100</string>
</dict>
</plist>